@font-face {
  font-family: GT-Walsheim-Bold;
  src: url(../fonts/GT-Walsheim-Bold.woff); }

@font-face {
  font-family: GT-Walsheim-Medium;
  src: url(../fonts/gt-walsheim-medium-web.woff); }

@font-face {
  font-family: GT-Walsheim-Light;
  src: url(../fonts/GT-Walsheim-Light.woff); }

body {
  background-color: #01d2bd; }

.header {
  clear: both;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center; }
  .header h1 {
    font-family: GT-Walsheim-Medium;
    font-size: 30px; }
  .header h2 {
    font-family: GT-Walsheim-Light;
    font-size: 23px;
    color: #aebac8; }
    .header h2 span {
      color: #01d2bd; }
  .header .search-input {
    margin-top: 20px; }

.navbar {
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 0; }

.navbar-right {
  margin-right: 0; }

.jumbotron {
  margin-bottom: 0;
  background-color: black; }

.image {
  float: left; }
  .image img {
    width: 101px;
    height: 175px; }

.thumbnail {
  border: none;
  margin-bottom: 30px;
  padding: 13px; }
  .thumbnail img {
    width: 160px;
    height: 150px;
    display: block;
    margin-right: 15px; }
  .thumbnail .caption {
    padding: 0 9px; }

.details {
  float: left; }

ul li {
  display: inline-block; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
nav h3, nav label, nav span {
  color: white; }

nav h2 {
  margin-top: 0;
  color: white; }

.caption h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 5px; }
  .caption h3 ul {
    /*color: red;*/
    list-style-type: disc;
    font-size: 14px;
    padding-left: 0px;
    list-style-position: inside;
    margin-bottom: 5px; }
    .caption h3 ul li {
      display: list-item; }

.caption .year {
  font-size: 14px;
  color: #aebac8;
  font-size: 14px;
  font-family: GT-Walsheim-Light; }

.caption .title {
  font-size: 16px;
  font-family: GT-Walsheim-Bold; }

.caption .type {
  font-family: GT-Walsheim-Medium; }

.sort {
  /*margin-top: 10px;*/
  color: white;
  font-size: 11px;
  float: right; }
  .sort .label {
    line-height: 33px; }
  .sort span, .sort label {
    font-family: GT-Walsheim-Medium;
    float: left; }

h2.results {
  font-family: GT-Walsheim-Light;
  font-size: 25px; }

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px black solid;
  padding: 5px 5px 5px 34px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; }

.corner {
  position: absolute;
  top: 22px;
  right: 4px;
  height: 26px;
  width: 60px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: white;
  color: black; }

.search-icon {
  z-index: 10;
  border: none;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 5px;
  background-size: 20px 20px; }

.search {
  position: relative;
  /*width: 430px;*/
  height: 30px;
  margin: 0 auto;
  font-family: GT-Walsheim-Light;
  color: black;
  float: none; }

.series {
  color: #ed164f; }

.movie {
  color: #009ddc; }

.game {
  color: #8051AE; }

.toggle {
  margin: 4px;
  background-color: white;
  border-radius: 4px;
  /*border:1px solid #D0D0D0;*/
  overflow: auto;
  float: left; }
  .toggle label {
    float: left;
    /*width:2.0em;*/
    margin-bottom: 0; }
    .toggle label span {
      text-align: center;
      padding: 3px 0px;
      display: block;
      cursor: pointer;
      color: black;
      padding: 5px 12px; }
    .toggle label input {
      position: absolute;
      top: -20px;
      left: -40px; }
  .toggle .input-checked {
    background-color: #019a8b;
    color: white; }

.logo {
  position: absolute;
  left: 5%;
  top: 3%; }
  .logo img {
    width: 90px;
    height: 40px; }

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.item.ng-enter,
.item.ng-leave.ng-leave-active {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 2s linear all;
  opacity: 0;
}

.item.ng-leave,
.item.ng-enter.ng-enter-active {
  opacity: 1;
}
