@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/gt-walsheim-medium-web.woff);
}

@font-face {
    font-family: GT-Walsheim-Light;
    src: url(../fonts/GT-Walsheim-Light.woff);
}